@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@500&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}

.first_page{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(../Pics/first_page.jpg);
    background-size: cover;
    background-position: center;
}

/******************  waves ***********************/
.custom-shape-divider-bottom-1654722895 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654722895 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1654722895 .shape-fill {
    fill: #FFFFFF;
}
/*****************************************/


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 140px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.affiche_question{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover .affiche_question{
    width: 100%;
}

button:hover{
    border: none;
}


/************************************************************ second section ***************************************************/

.Rendez_vous{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: translateY(50px);
    margin-top: 60px;
}

.RDV_gauch h2, h3{
    font-family: 'Questrial', sans-serif;  
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    color: #009688;
    
}

.RDV_gauch ul li{
    list-style: circle;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    

}

.RDV_gauch ul{
    margin-left: 28px;
}

.RDV_droit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

div button a {
    text-decoration: none;
    color: #fff;
  }
  
.pic{
    align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.num{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Demander_RDV{
    color: #383d52;
}



/************************************************************ second section ***************************************************/
.second_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.collab_text{
    position: relative;
    font-size: 4vw;
    color: #ffffff ;
    -webkit-text-stroke: 0.24vw #009688; 
    text-transform: uppercase;
    margin-bottom: 60px;
}
.collab_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #009688;
    -webkit-text-stroke: 0vw #383d52; 
    border-right: 4px solid #383d52;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
    
}
/*****************************************************************  questions ***********************************************************/


#FLIP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1px;
    width: 100%;

    
}
.flip-card1, .flip-card2, .flip-card3, .flip-card4 {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  padding: 1%;
  margin: auto;
}

.flip-card-inner1, .flip-card-inner2, .flip-card-inner3, .flip-card-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card-inner1 ,
.flip-card2:hover .flip-card-inner2,
.flip-card3:hover .flip-card-inner3,
.flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1, .flip-card-front2,
 .flip-card-back2, .flip-card-front3, .flip-card-back3,
 .flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front1, .flip-card-front2, .flip-card-front3, .flip-card-front4{
  background-color: #bbb;
  color: black;
}

.flip-card-back1, .flip-card-back2, .flip-card-back3, .flip-card-back4{
  background-color: #009688;
  color: white;
  transform: rotateY(180deg);
}




div button a{
    text-decoration: none;
    color: #383d52;

}

.collab_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*
#myform{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.wrapper{
    position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}
.questionai{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  

}
.wrapper{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
    background: #506567;
}

.input{
  border-radius: 4px;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #009688;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}


/*
textarea{
  
  height: 300px;
  width: 400px;
}
*/





/*****************************************************************  client comments ***********************************************************/


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
    display: flex;
    align-items: center;

}

.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
}








/*****************************************************************  footer ***********************************************************/

/*
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
*/

.container{
	max-width: 1170px;
	margin:auto;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #009688;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


