<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CollabFlip.css">
    <title>Collaborations</title>
</head>
<body>



    
<h1>Collaborations</h1>
<div id="FLIP">
<div class="flip-card1">
  <div class="flip-card-inner1">
    <div class="flip-card-front1">
      <img src="images/Houmadi.jpg" alt="Houmadi" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back1">
      <h1>Mme 1</h1> 
      <p>Téléphone</p> 
      <p>Adresse</p>
    </div>
  </div>
</div>

<div class="flip-card2">
    <div class="flip-card-inner2">
      <div class="flip-card-front2">
        <img src="images/Faouet.jpg" alt="Houmadi" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back2">
        <h1>Mme 2</h1> 
        <p>Téléphone</p> 
        <p>Adresse</p>
      </div>
    </div>
  </div>
<div class="flip-card3">
    <div class="flip-card-inner3">
      <div class="flip-card-front3">
        <img src="images/Faouet.jpg" alt="Houmadi" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back3">
        <h1>Mme 2</h1> 
        <p>Téléphone</p> 
        <p>Adresse</p>
      </div>
    </div>
  </div>
  <div class="flip-card4">
    <div class="flip-card-inner4">
      <div class="flip-card-front4">
        <img src="images/Faouet.jpg" alt="Houmadi" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back4">
        <h1>Mme 2</h1> 
        <p>Téléphone</p> 
        <p>Adresse</p>
      </div>
    </div>
  </div>
</div> 
</body>
</html>