
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../CSS/logIN/Log_IN.css"/>
	<title>MEDECIEL</title>
</head>
</html>
<body>
	<a href="../index.html"><img src="../Pics/logo.svg" alt="is not found" class="logo"></a>  	

	<div class="body1" id="particles-js">
	<div class="main">
		<div class="wrapper">
			<input type="checkbox" id="chk" >

			<div class="signup">
				<form name="testForm" id="testForm" method="post" action="../CONTROLLER/utilisateur-controller_logIN.php?action=insert">
					<label for="chk" >Sign up</label>
					<input type="text" name="nom" placeholder="Nom" required="">
					<input type="text" name="prenom" placeholder="Prenom" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="text" name="telephone" placeholder="telephone" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="sign up" class='button'>
				</form>
			</div>

			<div class="login" >
				<form method="post" action="../CONTROLLER/utilisateur-controller_logIN.php?action=login">
					<label for="chk" >Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="log in" class='button'>
				</form>
			</div>
		</div>
	</div>
</div>
    <script src ="../Js/Log_IN/particles.min.js"></script>
    <script src ="../Js/Log_IN/app.js"></script>
</body>
</html>